<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
    
    <style>
      table{        
        border: 2px solid gray;
        border-collapse: collapse;
        width: 100%;
        margin: auto;
        border-radius: 10px;
      
      }
      th {
        background-color: #d8e3db;
      }
      td, th {
        border: 2px solid gray;
        padding: 10px;
        border-collapse: collapse;
      }
  
    </style>

  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>COURSE</th>
        <th>YEAR</th>
      </tr>
      <tr>
        <td>YP-24424</td>
        <td>EDEM BANKU</td>
        <td>BSC. COMPUTER COMMUNICATION</td>
        <td>2001</td>
      </tr>
      <tr>
        <td>YP-34424</td>
        <td>EDRE YAYA</td>
        <td>BSC. COMPUTER ECONOMICS</td>
        <td>2001</td>
      </tr>
      <tr>
        <td>YP-54424</td>
        <td>KWEKU HARRISON</td>
        <td>BSC. COMPUTER ACCOUNTING</td>
        <td>2004</td>
      </tr>
      <tr>
        <td>YP-74424</td>
        <td>EDEM BANKU</td>
        <td>BSC. COMPUTER COMPLEXITY</td>
        <td>2005</td>
      </tr>
    </table>
    <button>Add Data</button>


    <h1>Ordered Lists</h1>

    <ol type="I">
      <li>Manchester United</li>
      <li>Liverpool</li>
      <li>New Castle</li>
      <li>Manchester City</li>
    </ol>
    
    <h1>Unordered List</h1>
    <ul style="list-style-type: square;">
       <li>Manchester United</li>
      <li>Liverpool</li>
      <li>New Castle</li>
      <li>Manchester City</li>

    </ul> 
<h1>Form</h1>

    <form>
      <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" />
      <input type="radio" value="Real Madrid" /> Real Madrid
      <input type="radio" value="Barcelona" /> Barcelona
    </form>


  </body>
</html>
